{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="h3">
        Hi, {{session.user_name}}!
    </div>

      <div class="table-responsive">
        <table class="table table-striped text-left">
            <thead>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </thead>
            <tbody>
                {% for x in summary %}
                    <tr>
                        {% for key, value in x.items() %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}

                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{cash | usd}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>{{txn}}</h4>
    
    {% endblock %}
